@charset "utf-8";
ul.menu {
	margin:0px;
	padding: 0px 0px 0px 0px;
	background-color: #cc0000;
}

ul.menu li{
	width: 125px;
	display: inline-block;
	list-style-type: none;
	position: relative;
}

ul.menu a{
	background-color: #cc0000;
	color: white;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

ul.menu ul{
	display: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

ul.menu a:hover{
	background-color: #ffdddd;
	color:"dd0000";
}

ul.menu li:hover ul{
	display: block;
}

#rogo{
	background-color:black;
	color: white;
}

#rogo img{
	width: 350px;
	height: 125px;
}

#parent{
	display: flex;
	background-color: black;
}

#sub{
	width: 300px;
	color: white;
	background-color: black;
	position: relative;
}

.pclass{
	white-space: nowrap;
	left: 100px;
	top: 10px;
	font-size: 30px;
	position: absolute;
}

#bigmain{
	width: 100%;
	margin: 30px;
	display: block;
	position: relative;
}

.boord{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: flex;
	width: 800px;
	padding-left: 40px;
	background-color:lightgreen;
}

.mainmenu{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	position: relative;
	display: flex;
	width: 800px;
	background-color: aliceblue;
}

.access{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	position: relative;
	display: flex;
	width: 800px;
	background-color: aliceblue;
}

.access img{
	width: 250px;
	height: 150px;
	margin: 20px;
}

.mainmenu img{
	width: 150px;
	height: 150px;
	margin: 20px;
}

#fooder{
	width: 100%;
	margin-top: 50px;
	text-align: center;
	height: 50px;
}

body{
	background-color:blanchedalmond;
	min-width: 1150px;
}